# URL base del Backend MIA (bacl)
MIA_BACKEND_URL=http://localhost:3001

# API Key de acceso al backend
MIA_API_KEY=tu_api_key_aqui

# ID de Agente por defecto para las pruebas del MCP
DEFAULT_ID_AGENTE=50
