# Servidor
PORT=3002
NODE_ENV=development

# Base de Datos MySQL (MIA)
DB_HOST=localhost
DB_USER=admin
DB_PASSWORD=admin
DB_NAME=mia
DB_PORT=3306

# Seguridad: API Key que deben enviar los clientes en el header x-api-key
API_KEY=cambia_esta_api_key
